<!DOCTYPE html>
<html>
<head>
  <title>Pusher Chat</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    var PUSHER_KEY = '<%= Pusher.key %>'
  </script>
</head>
<body>

<%= yield %>

<div id="footer">
	<p>Pusher Chat is proudly powered by <a href="http://pusherapp.com/" target="_blank">Pusher App</a>. Created by <a href="http://tarnfeld.com/" target="_blank">Tom Arnfeld</a>.</p>
</div>

</body>
</html>
